.createProject-sec{
    border-right: 0.5px solid rgb(232, 232, 232);
}
.add-btn{
    background: #fdfdfd;
    border:1px solid #20453A;
}
.project-data li{
    list-style: none;
    border-bottom:1px solid rgb(228, 228, 228) ;
    letter-spacing: 1px;
    @apply px-3 py-3  ;
}