.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000005c;
}

.modal input{
    @apply w-full py-2 my-2 px-3 rounded-md;
    border:1px solid rgb(195, 195, 195);
    
}

.modal-info{
    background: #dc2626;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.modal-btn{ 
    @apply px-5 py-2 text-white rounded-md font-semibold;
    background: #DC2626;
}