.div-right{
    background: #20453A;
}
.div-right-in-text{
    /* border: 1px solid #cad400; */
    @apply rounded-md h-32 w-8/12 my-4 p-5 text-left;
    
    
}

.input-feild{
    @apply my-2 w-full h-12 rounded-md px-4;
    /* border-bottom:2px solid #20453A; */
    background: rgb(239, 239, 239);
    
}

.div-right-in-text h1{
    @apply text-20px font-bold;
    
    color:white;
}
.div-right-in-text p{
    @apply my-3 font-medium;
    
    color:white;
}


.signin-btn{
    background: #20453A;
    @apply py-2 px-4 my-2 w-24 rounded-md text-white;
}

.left-section p{
  font-family: "Playwrite FR Trad", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #20453A;
  /* text-shadow: 
  1px 1px 0px black, 
  -1px 1px 0px black,
  1px -1px 0px black, 
  -1px -1px 0px black;  */

}

