nav{
    background: #ffffff;
    box-shadow: 0px 4px 3px -5px rgba(0,0,0,0.1);
}
nav li{
    display: inline;
    @apply px-3 py-2 mx-3 rounded-md;
    font-weight: 400;
    color: rgb(33, 33, 33);

    
}
.li-1{
    background: #20453A;
    color: white;
    
}
.li-2{
    border:2px solid #20453A;
    background:#23433985;
    color: #20453A;
    
    
}
nav p{
    font-family: "Playwrite FR Trad", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #20453A;
    /* text-shadow: 
    0.5px 0.5px 0px black, 
    -0.5px 0.5px 0px black,
    0.5px -0.5px 0px black, 
    -0.5px -0.5px 0px black;  */
}
