nav{
    background: #ffffff;
    box-shadow: 0px 4px 3px -5px rgba(0,0,0,0.1);
    border-bottom: 1px solid rgb(217, 217, 217);
}
nav li{
    display: inline;
    @apply px-3 py-2 mx-3 rounded-md;
    font-weight: 400;
    color: rgb(33, 33, 33);

    
}
.li-1{
    background: #DC2626;
    color: white;
    
}
.li-2{
    border:2px solid #DC2626;
    background:#dc26268b;
    color: #DC2626;
    
    
}
nav p{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: black;
    /* text-shadow: 
    0.5px 0.5px 0px black, 
    -0.5px 0.5px 0px black,
    0.5px -0.5px 0px black, 
    -0.5px -0.5px 0px black;  */
}
